.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  text-align: center;
}

.status .success {
  color: hsl(142, 71%, 45%);
}

.status .error {
  color: hsl(0, 84%, 60%);
}
